.row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .row .col-xs-1 {
    padding: 8px;
    width: 8.3333333333%;
  }
  .row .col-xs-2 {
    padding: 8px;
    width: 16.6666666667%;
  }
  .row .col-xs-3 {
    padding: 8px;
    width: 25%;
  }
  .row .col-xs-4 {
    padding: 8px;
    width: 33.3333333333%;
  }
  .row .col-xs-5 {
    padding: 8px;
    width: 41.6666666667%;
  }
  .row .col-xs-6 {
    padding: 8px;
    width: 50%;
  }
  .row .col-xs-7 {
    padding: 8px;
    width: 58.3333333333%;
  }
  .row .col-xs-8 {
    padding: 8px;
    width: 66.6666666667%;
  }
  .row .col-xs-9 {
    padding: 8px;
    width: 75%;
  }
  .row .col-xs-10 {
    padding: 8px;
    width: 83.3333333333%;
  }
  .row .col-xs-11 {
    padding: 8px;
    width: 91.6666666667%;
  }
  .row .col-xs-12 {
    padding: 8px;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .row .col-sm-1 {
    padding: 8px;
    width: 8.3333333333%;
  }
  .row .col-sm-2 {
    padding: 8px;
    width: 16.6666666667%;
  }
  .row .col-sm-3 {
    padding: 8px;
    width: 25%;
  }
  .row .col-sm-4 {
    padding: 8px;
    width: 33.3333333333%;
  }
  .row .col-sm-5 {
    padding: 8px;
    width: 41.6666666667%;
  }
  .row .col-sm-6 {
    padding: 8px;
    width: 50%;
  }
  .row .col-sm-7 {
    padding: 8px;
    width: 58.3333333333%;
  }
  .row .col-sm-8 {
    padding: 8px;
    width: 66.6666666667%;
  }
  .row .col-sm-9 {
    padding: 8px;
    width: 75%;
  }
  .row .col-sm-10 {
    padding: 8px;
    width: 83.3333333333%;
  }
  .row .col-sm-11 {
    padding: 8px;
    width: 91.6666666667%;
  }
  .row .col-sm-12 {
    padding: 8px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .row .col-md-1 {
    padding: 8px;
    width: 8.3333333333%;
  }
  .row .col-md-2 {
    padding: 8px;
    width: 16.6666666667%;
  }
  .row .col-md-3 {
    padding: 8px;
    width: 25%;
  }
  .row .col-md-4 {
    padding: 8px;
    width: 33.3333333333%;
  }
  .row .col-md-5 {
    padding: 8px;
    width: 41.6666666667%;
  }
  .row .col-md-6 {
    padding: 8px;
    width: 50%;
  }
  .row .col-md-7 {
    padding: 8px;
    width: 58.3333333333%;
  }
  .row .col-md-8 {
    padding: 8px;
    width: 66.6666666667%;
  }
  .row .col-md-9 {
    padding: 8px;
    width: 75%;
  }
  .row .col-md-10 {
    padding: 8px;
    width: 83.3333333333%;
  }
  .row .col-md-11 {
    padding: 8px;
    width: 91.6666666667%;
  }
  .row .col-md-12 {
    padding: 8px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .row .col-lg-1 {
    padding: 8px;
    width: 8.3333333333%;
  }
  .row .col-lg-2 {
    padding: 8px;
    width: 16.6666666667%;
  }
  .row .col-lg-3 {
    padding: 8px;
    width: 25%;
  }
  .row .col-lg-4 {
    padding: 8px;
    width: 33.3333333333%;
  }
  .row .col-lg-5 {
    padding: 8px;
    width: 41.6666666667%;
  }
  .row .col-lg-6 {
    padding: 8px;
    width: 50%;
  }
  .row .col-lg-7 {
    padding: 8px;
    width: 58.3333333333%;
  }
  .row .col-lg-8 {
    padding: 8px;
    width: 66.6666666667%;
  }
  .row .col-lg-9 {
    padding: 8px;
    width: 75%;
  }
  .row .col-lg-10 {
    padding: 8px;
    width: 83.3333333333%;
  }
  .row .col-lg-11 {
    padding: 8px;
    width: 91.6666666667%;
  }
  .row .col-lg-12 {
    padding: 8px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .row .col-xl-1 {
    padding: 8px;
    width: 8.3333333333%;
  }
  .row .col-xl-2 {
    padding: 8px;
    width: 16.6666666667%;
  }
  .row .col-xl-3 {
    padding: 8px;
    width: 25%;
  }
  .row .col-xl-4 {
    padding: 8px;
    width: 33.3333333333%;
  }
  .row .col-xl-5 {
    padding: 8px;
    width: 41.6666666667%;
  }
  .row .col-xl-6 {
    padding: 8px;
    width: 50%;
  }
  .row .col-xl-7 {
    padding: 8px;
    width: 58.3333333333%;
  }
  .row .col-xl-8 {
    padding: 8px;
    width: 66.6666666667%;
  }
  .row .col-xl-9 {
    padding: 8px;
    width: 75%;
  }
  .row .col-xl-10 {
    padding: 8px;
    width: 83.3333333333%;
  }
  .row .col-xl-11 {
    padding: 8px;
    width: 91.6666666667%;
  }
  .row .col-xl-12 {
    padding: 8px;
    width: 100%;
  }
}/*# sourceMappingURL=grid.css.map */